# Available: dev, prod
ENV = "prod"

HOST = "0.0.0.0"
PORT = 8000

SESSION_DURATION_DAYS = 30

# Available: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL = "INFO"

CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000","https://my-frontend-app.com"]

# postgres
DB_ENGINE = "postgresql+asyncpg"
DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "postgres"
DB_USERNAME = "postgres"
DB_PASSWORD = "postgres"